################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfReferencingRelationshipPlugin/.vs/SelfReferencingRelationshipPlugin/v16
