################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfReferencingRelationshipPlugin/.vs/SelfReferencingRelationshipPlugin/v16
/SelfReferencingRelationshipPlugin/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.25
/SelfReferencingRelationshipPlugin/SelfReferencingRelationshipPlugin/bin/Debug
/SelfReferencingRelationshipPlugin/SelfReferencingRelationshipPlugin/obj/Debug
